:root {
  --app-primary: #651a97;
  --app-primary-dark: #390958;
  --app-secondary: #910835;
  --app-dark: #887d7d;
  --app-light: #ffffff;
  --app-darklight: #ebedf2;
  --app-darklight2: #dddcdc;
  --app-error: #e2445c;
  --app-warning: #f25c05;
  --app-success: #9ebf6b;
  --app-option: #dab00a;
}

.light-theme{
  --background-color : #afa9a9;
  --text-color : #1a1a1a;
  --box-color : rgb(182, 179, 179);
  --button-color : #fff;

  --box-shadow: 0px 3px 20px rgb(2,2,2);
}

.dark-theme{
  --background-color : #1a1a1a;
  --text-color : #f5f5f5;
  --box-color : #2b2b2b;
  --button-color : #1a1a1a;
}
