.ui
{
  height:100vh;
}
header
{
  background:var(--background-color);
}
.content
{
  background: var(--background-color);
}

aside
{
  width: 250px;
  background:var(--background-color);
  transition: 0.25s;
}

footer{
  background: var(--background-color);
}

.close-aside
{
  width:0px;
}

