<div class="d-flex flex-column ui">
  <header>
    <ng-content select=".tr-header"></ng-content>
    <span (click)="toggle()">
      <!--Syntaxe if + if-->
      <ng-content *ngIf="!close" select=".tr-button-close"></ng-content>
      <ng-content *ngIf="close" select=".tr-button-open"></ng-content>
    </span>
    <span class="mode-sombre" (click)="switchTheme()">
      <ng-content *ngIf="theme != 'light-theme'" select=".tr-button-sun"></ng-content>
      <ng-content *ngIf="theme != 'dark-theme'" select=".tr-button-moon"></ng-content>
    </span>
  </header>
  <main class="d-flex flex-grow-1">

    <aside [ngClass]="{'close-aside': close}">
      <nav>
        <ng-content select=".tr-nav"></ng-content>
      </nav>
    </aside>

    <div class="d-flex flex-column flex-grow-1">
      <div class="flex-grow-1 content">
        <ng-content select=".tr-content"></ng-content>
      </div>
      <footer>
        <ng-content select=".tr-footer"></ng-content>
      </footer>
    </div>

  </main>
</div>
