.messageHeader{
  font-size: 12px;
  padding-left: 10px;
}

.box
{
  padding-left: 10px;
}

.my-message
{
  text-align: right;
  padding-right: 10px;
}

.message-box
{
  height: 1000px;
}

.form-group{
  color: var(--text-color);
}

*{
  color: var(--text-color);
}
