.box{
  text-align: center;
  width: 200px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  padding: 30px;
  border-radius: 9px;
}

h4, article, h6{
  color: var(--text-color);
}
